<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="fashion.css">
<title>Contact us</title>
</head>
<body class="homeContainer">

<div class="container">
	
		<div th:replace="header :: bar"></div> 
		
		<h1 style="text-transform: uppercase; text-align: center; margin-bottom: 20px;">Customer Service</h1>
		<h2 style="color: red; text-align: center; font-weight: bold;">0140398253 / 0767683115</h2>
	
</div>

</body>
</html>